<div>
    <table>
        <tr>
        <th>ID</th>
        <th>Name</th>        
        </tr>
        <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        
        </tr>
        </table>
    
</div>
<!-- <div>
    <h1>{{name}}</h1>
    <label> Name
        <input [formControl]="nameControl" placeholder="name">
        
    </label>
    <div *ngIf="nameControl.errors?.required">Name is required</div>
    <div *ngIf="nameControl.errors?.maxlength">Name must be less than 6 letters</div>


    <button (click)="nameChange()" > Change Name</button>
    
</div> -->
<!-- <div>
    <h1>{{name}}</h1>
    <form [formGroup]="formGroup">
    <label> First Name
        <input formControlName="firstName" placeholder="first name">        
    </label>
    <br>
    <label> Last Name
        <input formControlName="lastName" placeholder="last name">        
    </label>
    <br>
    <label> Age
        <input formControlName="age" placeholder="age">        
    </label>
    <br>
 <div *ngIf="formGroup.errors?.required">Name is required</div>
    <div *ngIf="formGroup.errors?.maxlength">Name must be less than 6 letters</div> -->


    <!-- <button (click)="nameChange()" > Change Name</button>
     -->
<!-- </div>  -->
